body {
    background-color: #1B263B;
    color: #c4c4c4;
    text-indent: 25px;
    font-size: large;
    font-family: "LucyRounded";
    font-weight: normal;
    font-style: normal;
}

html,
head {
    margin: 0;
    padding: 0;
}

#title {
    size-adjust: 69%;
    text-align: center;
    color: #c4c4c4;
    text-shadow: 1px 1px 1px #778DA9;
}

#intro {
    text-indent: 25px;
}

#Nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D1B2A;
}

#Nav_bar li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#Nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}

#Nav_bar li a:hover {
    background-color: #3D424E;
}

#proj_1{
    background-color: #415A77;
    border-radius: 15px;
    display: inline-block;
    width: 40%;
    height: 20%;
    padding: 5px
}

#proj_2{
    background-color: #415A77;
    border-radius: 15px;
    display: inline-block;
    width: 40%;
    height: 20%;
    padding: 5px;
}

#header-container {
    display: flex;
    align-items: center;
    padding: 10%;
    justify-content: center;
}
h2{
    margin-right: 10px
}