body {
    background-color: #1B263B;
    color: #c4c4c4;
    text-indent: 25px;
    font-size: large;
    font-family: "LucyRounded";
    font-weight: normal;
    font-style: normal;
}

#title {
    size-adjust: 69%;
    text-align: center;
    color: #c4c4c4;
    text-shadow: 1px 1px 1px #778DA9;
}

#intro {
    text-indent: 25px;
}

#Nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D1B2A;
}

li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #3D424E;
}

#Nav_bar li:first-child a {
    padding: 0;
}

#Nav_bar li:first-child img {
    margin: 0;
}